.list-element {
    width: 100%;
    display: flex;
    align-items: top;
    margin-top: 1vh;
}

.list-element button {
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: black;
    cursor: pointer;
    padding: 0 10px;
    height: 4vh;
}

.list-element button:hover {
    background-color: #333;
}

.list-element span {
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 100%;
}

.list-element input[type="checkbox"]:checked + span {
    text-decoration: line-through;
}

.main-task {
    display: flex;
    align-items: center; /* Center items vertically */
    border: thin solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    justify-items: center;
    margin-right: 1vh;
}

.main-task input[type="checkbox"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 1vh;
}

.main-task span {
    margin: 0;
}
